In [1]:
import os

import pandas as pd
from dotenv import load_dotenv

# Set the env variables
load_dotenv()

True

## Exploring data

In [8]:
mock = os.environ["APP_DEMOGRAPHICS_PATH"]
mock

'/app/data/zipcode_demographics.csv'

In [2]:
SALES_PATH = os.getenv(
    "SALES_PATH",
)  # "../data/kc_house_data.csv"  # path to CSV with home sale data
DEMOGRAPHICS_PATH = os.getenv(
    "DEMOGRAPHICS_PATH",
)  # "../data/zipcode_demographics.csv"  # path to CSV with demographics
# List of columns (subset) that will be taken from home sale data
SALES_COLUMN_SELECTION = os.getenv(
    "SALES_COLUMN_SELECTION",
)  # ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors','sqft_above', 'sqft_basement', 'zipcode']
OUTPUT_DIR = os.getenv(
    "OUTPUT_DIR",
)  # "model"  # Directory where output artifacts will be saved

In [7]:
SALES_PATH

'../data/kc_house_data.csv'

In [40]:
data = pd.read_csv(
    SALES_PATH,
    # usecols=eval(SALES_COLUMN_SELECTION),
    dtype={"zipcode": str},
)
demographics = pd.read_csv(DEMOGRAPHICS_PATH, dtype={"zipcode": str})

In [5]:
data.head(3)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,sqft_basement,zipcode
0,221900.0,3,1.00,1180,5650,1.0,1180,0,98178
1,538000.0,3,2.25,2570,7242,2.0,2170,400,98125
2,180000.0,2,1.00,770,10000,1.0,770,0,98028

In [6]:
data.dtypes

price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
sqft_above         int64
sqft_basement      int64
zipcode           object
dtype: object

In [6]:
demographics.columns

Index(['ppltn_qty', 'urbn_ppltn_qty', 'sbrbn_ppltn_qty', 'farm_ppltn_qty',
       'non_farm_qty', 'medn_hshld_incm_amt', 'medn_incm_per_prsn_amt',
       'hous_val_amt', 'edctn_less_than_9_qty', 'edctn_9_12_qty',
       'edctn_high_schl_qty', 'edctn_some_clg_qty', 'edctn_assoc_dgre_qty',
       'edctn_bchlr_dgre_qty', 'edctn_prfsnl_qty', 'per_urbn', 'per_sbrbn',
       'per_farm', 'per_non_farm', 'per_less_than_9', 'per_9_to_12', 'per_hsd',
       'per_some_clg', 'per_assoc', 'per_bchlr', 'per_prfsnl', 'zipcode'],
      dtype='object')